.main-container-chronicles {
  background: url("/src/images_chronicles/Chronicles_Main.jpg") center
    center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 85px 40px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 85px 40px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 85px 40px rgba(0, 0, 0, 1);
  object-fit: contain;
  border-bottom: 2px solid black;
}

.main-container-chronicles > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-family: IowanOldStyle, Cambria, sans-serif;
  text-shadow: 2px 2px 3px rgba(72, 72, 74, 1);
  font-weight: 500;
  margin: 0.01em 0;
}

.main-container-chronicles > p {
  color: #fff;
  font-size: 36px;
  font-family: IowanOldStyle, Cambria, sans-serif;
  text-shadow: 2px 2px 3px rgba(72, 72, 74, 1);
  font-weight: 500;
}

.main-btns {
  margin-top: 32px;
}

.main-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .main-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .main-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .main-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@font-face {
  font-family: Cambria;
  src: url(/src/media/Cambria.ttf);
}

.btn-mobile :hover {
  cursor: url("../../media/pointer.png"), auto;
}