.sticky-img {
  position: absolute;
  top: 80%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.sticky-img.sticky {
  position: fixed;
}

.sticky-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.map-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -4px;
  font-size: 18px;
  text-shadow: 0.5px 0.5px #000000;
  color: #8f8605;
  font-weight: bold;
}

.sticky-img :hover {
  cursor: url("../../../media/pointer.png"), auto;
}
