.slider-container {
  height: 100%;
  width: 70%;
  background-image: url(/src/media/stressed_linen.webp);
  margin: auto;
  /* padding-top: 2rem; */
  padding-bottom: 4rem;
}

.swiper {
  height: 100%;
  width: auto;
}

.swiper-slide {
  width: auto;
  background-image: url(/src/media/stressed_linen.webp);
}

.slider_cards {
  padding: 4rem;
  background-image: url(/src/media/stressed_linen.webp);
}

h1 {
  text-align: center;
}

.slider_cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.slider_cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.slider_cards__items {
  margin-bottom: 24px;
}

.slider_cards__item {
  height: 450px;
  display: flex;
  flex: 1;
  border-radius: 10px;
  /* border: 2px solid rgb(83, 3, 3); */
}

.slider_cards__item__link {
  width: 100%;
  box-shadow: 0 2px 25px rgb(56 125 255 / 25%);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background: #fff;
}

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */

.slider_cards__item__pic-wrap::after {
  content: attr(data-category);
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.slider_cards__item__img {
  float: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 150px;
  height: 250px;
  max-height: 100%;
  margin-right: 10px;
  /* margin-bottom: 5px; */
  border-bottom: 4px solid #000000;
  border-radius: 0px 0px 20px 0px;
  border-right: 4px solid #000000;
}

.slider_cards__item__info {
  padding: 1px 5px 5px 8px;
}

.slider_cards__item__text {
  color: #252e48;
  font-size: 1.1rem;
  line-height: 20px;
}

.character_name {
  font-size: 26px;
  text-shadow: 0.5px 0.5px #000000;
  color: #252e48;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@font-face {
  font-family: Cambria;
  src: url(/src/media/Cambria.ttf);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 350px;
  left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -350px;
  right: auto;
}

figure {
  margin: 0 0 0.5rem;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));

  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent #7a0220;
  line-height: 0px;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));

  border-style: solid;
  border-width: 30px 30px 30px 0;
  border-color: transparent #7a0220 transparent transparent;
  line-height: 0px;
}

.text_bar {
  padding-bottom: 3rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: transparent;
}

/* .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -25%;
  left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 25%;
  right: auto;
} */