.App {
  text-align: center;
}
body {
  background-color: black;
  color: white;
}

.img-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 1);
  z-index: 1;
}

.img-shadow img {
  float: left;
}

.application {
  margin: 0;
  height: 100%;
  background-color: black;
  cursor: url(media/cursor.png), auto;
}

#side1 {
  /*width: 50%;*/
  /*height: 100%;*/
  /*background-image: url(media/main_side1.png);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: right top;*/
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0px 0px 25px 5px black inset;
}
#side2 {
  /*width: 50%;*/
  /*height: 100%;*/
  /*background-image: url(media/main_side2.png);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: left top;*/
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0px 0px 25px 5px black inset;
}

#button1 {
  width: max-content;
  visibility: hidden;
  border-radius: 1vh;
  background-image: url(media/marble.png);
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 3px;
  padding: 3% 5%;
  cursor: url(media/cursor.png), auto;
}

#button2 {
  width: max-content;
  visibility: hidden;
  border-radius: 1vh;
  background-image: url(media/marble.png);
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 3px;
  padding: 2.5% 5%;
  cursor: url(media/cursor.png), auto;
}

#text1 {
  padding: 1vw 5vw;
  width: 100%;
  position: absolute;
  top: 15%;
  left: 0%;
  visibility: hidden;
  text-align: center;
  color: white;
  font-family: Cambria;
  font-size: 1vw;
  letter-spacing: 0.06vw;
}

#text2 {
  padding: 1vw 5vw;
  width: 100%;
  left: 0%;
  position: absolute;
  top: 15%;
  visibility: hidden;
  text-align: center;
  color: white;
  font-family: Cambria;
  font-size: 1vw;
  letter-spacing: 0.06vw;
}

#button1:hover {
  background-color: rgba(139, 132, 34, 0.2);
}

#button2:hover {
  background-color: rgb(165, 42, 42, 0.2);
}

#link1 {
  /* visibility: hidden;
  left: 30%;
  position: absolute;
  bottom: -20%; */

  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#link2 {
  /* visibility: hidden;
  left: 30%;
  position: absolute;
  bottom: -40%; */

  margin: 0;
  position: absolute;
  top: 128%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: Cambria;
  src: url(media/Cambria.ttf);
}
/* TEST GUZIKÓW NIŻEJ */
#buttonSound1 {
  margin: 0;
  position: absolute;
  top: 210%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#buttonSound2 {
  margin: 0;
  position: absolute;
  top: 210%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cambria", "PT Sans", sans-serif;
}

@font-face {
  font-family: Cambria;
  src: url(/src/media/Cambria.ttf);
}
